streamlit

langchain
langgraph
langgraph-checkpoint-sqlite

langchain-openai
langchain-core
langchain-community

openai
sentence-transformers
python-dotenv
pypdf
tavily-python==0.5.0

aiosqlite
langchain-huggingface
